extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug




block main
    +alert-success()
  
    h1(class="mb-4 text-center") Quản lý sản phẩm

    .card.mb-3
        .card-header.bg-primary.text-white Bộ lọc và Tìm kiếm
        .card-body
            .row
                .col-md-6
                    +filter-status(filterStatus)
                .col-md-6
                    +search(keyword)

    .card.mb-3
        .card-header.bg-secondary.text-white Sắp xếp
        .card-body
            .row
                .col-md-5
                    div(sort)
                        select.form-control(name="sort" sort-select)
                            option(value="position-desc") Vị trí giảm dần
                            option(value="position-asc") Vị trí tăng dần
                            option(value="price-desc") Giá giảm dần
                            option(value="price-asc") Giá tăng dần
                            option(value="title-asc") Tiêu đề A - Z
                            option(value="title-desc") Tiêu đề Z - A

                        button.btn.btn-danger.mt-2(sort-clear) Clear

    .card.mb-3
        .card-header.bg-success.text-white Danh sách
        .card-body
            .row
                .col-md-8
                    +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                .col-md-4.text-right
                    a.btn.btn-outline-success(href=`${prefixAdmin}/products/create`) + Thêm mới
            table(class="table table-bordered table-hover" checkbox-multi)
                thead
                    tr
                        th
                            input(type="checkbox" name="checkAll")
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Vị trí
                        th Trạng thái
                        th Tạo bởi
                        th Cập nhật
                        th Hành động

                tbody
                    each item, index in products
                        tr 
                            td
                                input(type="checkbox" name="id" value=item.id)
                            td #{index + 1}
                            td
                                img.img-thumbnail(src=item.thumbnail alt=item.title width="80px" height="auto")
                            td #{item.title}
                            td #{item.price}$
                            td
                                input(
                                    type="number"
                                    name="position"
                                    value=item.position
                                    style="width: 60px"
                                    min="1"
                                )
                            td
                                if item.status == "active"
                                    button.badge.badge-success(
                                        link=`/${prefixAdmin}/products/change-status/inactive/${item.id}`
                                        button-change-status
                                        data-status=item.status
                                        data-id=item.id
                                    ) Hoạt động
                                else
                                    button.badge.badge-danger(
                                        link=`/${prefixAdmin}/products/change-status/active/${item.id}`
                                        button-change-status
                                        data-status=item.status
                                        data-id=item.id
                                    ) Dừng hoạt động
                            td
                                div #{item.createdByFullName}
                                div #{item.createdAtFormat}
                            td
                                div #{item.updatedByFullName}
                                div #{item.updatedAtFormat}
                            td
                                a(
                                    href=`/${prefixAdmin}/products/edit/${item.id}`
                                    class="btn btn-warning btn-sm"
                                ) Sửa
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                    button-delete
                                    data-id=item.id
                                ) Xóa
                                a(
                                    href=`/${prefixAdmin}/products/detail/${item.id}`
                                    class="btn btn-info btn-sm ml-1"
                                ) Chi tiết
    +pagination(objectPagination)

    form(
        form-change-status 
        method="POST"
        action=""
        data-path=`${prefixAdmin}/products/change-status`
    )

    form(
        form-delete-item
        method="POST"
        action=""
        data-path=`${prefixAdmin}/products/delete`
    )

