extend ../../layouts/default.pug

block main
    h1.text-success.mb-4.text-center Trang sản phẩm

    .container
        .row.justify-content-center
            each item in products
                .col-md-4.mb-4
                    .card.shadow-sm
                        img.card-img-top(src=item.thumbnail, alt=item.title)
                        .card-body.text-center
                            a(href=`/products/detail/${item.slug}`)
                                h5.card-title.text-dark #{item.title}
                            p.card-text.text-success.font-weight-bold #{item.priceNew}$
                            p.card-text.text-muted.text-decoration-line-through #{item.price.toFixed(2)}$
                            span.badge.bg-danger #{item.discountPercentage}%