extend ../../layouts/default.pug

block main
    h1.text-success.mb-4.text-center Trang sản phẩm

    .container
        .row.justify-content-center
            each item in products
                .col-md-4
                    .card.shadow-sm.mb-4
                        img.card-img-top(src=item.thumbnail, alt=item.title)
                        .card-body.text-center
                            h5.card-title #{item.title}
                            p.card-text.text-success.font-weight-bold #{item.priceNew}$
                            p.card-text.text-muted.text-decoration-line-through #{item.price.toFixed(2)}$
                            span.badge.bg-danger #{item.discountPercentage}%
                            a.btn.btn-primary.mt-2(href=`/products/${item.id}`) Xem chi tiết